HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

/python/points.txt
/python/triangulation.txt
/python/.ipynb_checkpoints
/python/to_markdown.txt